# Google Sheets API
google-api-python-client==2.140.0
google-auth==2.35.0
google-auth-httplib2==0.2.0

# Supabase
supabase==2.9.0

# Data handling
pandas==2.2.3

# Utilities
python-dotenv==1.0.1
loguru==0.7.2
